<br>
<h2> Available Doctors </h2>

<br>
<br>
<% @doctors.order(:specialty).each do |d| %>
  <p><b>Doctors name: </b><%= link_to d.name, doctor_path(d) %>
  <br>
  <b>Specialty:</b> <%= d.specialty %></p>
  <br>
<%end%>