<h3> Hi, I'm <%= @doctor.name %>
<br>

<h4> My specialty is <%= @doctor.specialty %></h4>
<br>
<p> Here are a list of my patients: </p>
<% @doctor.patients.uniq.each do |p| %>
<p><%= link_to p.name, patient_path(p)%></p>
<%end%>
<br>
<br>
<h6>Edit your doctor's profile<%= link_to "here", edit_doctor_path(@doctor) %>.</h6>




