<h2>This appointment is with the doctor: <p><%= @appointment.doctor.name %></h2></p><br>
<h2>This is your appointment for: <p><%= @appointment.condition %></h2></p><br>

<h3>The date and time for the appointment is set to: <br><%= @appointment.date %> - <%= @appointment.time %></h3>





